body{
    background-color: #d0d0d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    padding: 0px;
    border: 0px;
}

#heading{
    display: flex;
    font-size: 7rem;
    justify-content: center;
    border: 5px solid #507c7c;
    width: 40rem;
    margin: 6px;
    flex: 1 1 1;
    border-radius: 20px;
}

#calculator-container{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #c8c3cc;
    flex: 0 1 content;
}

#calculator{
    display: flex;
    flex: 1 1 content;
    flex-direction: column;
    width: 30rem;
    height:45rem;
    justify-content: space-between;
    border: #563f46 5px solid;
    margin: auto;
    padding: 2px;
    flex: 0 1 auto;
    flex: 1;
}

.display{
    display: flex;
    flex-direction: column;
    border: #563f46 5px solid;
    justify-content: end;
    align-items: flex-end;
    width: 471px;
    height:13rem;
    /* padding: 80px; */
    background-color: #393846;
    /* font-size:4rem; */
    overflow-x: hidden;
}

.upper-display{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.bottom-display{
    font-size: 5rem;
    color: whitesmoke;
}


.buttons:hover{
    transform: scale(1.05);
}

.buttons.del, .buttons.all-clear{
    padding: 30px 90px;
}

.buttons{
    border: #454140 3px solid;
    padding: 25px 45px;
    margin: 2px;
    font-size: xx-large;
    transition: 50ms ease-in;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    background-color: #c8c3cc;
}




/* will be removed once the program can run with decimals */
.buttons-container.decimal-row .buttons{
    padding-left: 90px ;
}